$fonts-text: 'Titan One', cursive;
$font-headings: 'Titan One', cursive;

$orange: #F25244;
$white: #FFF;
$grey: #707070;
$green: #6BB983;
$blue: #01395C;



// Setting a default vlaue, this can be overwritten anywhere in our scss.
$text-font-size: 18px !default;
/* Setting a variable, we will use this variable with interpolation.
 Meaning in combination with other information. */
$nav-border-side: right;
