@import 'variable';
h1,h2,h3,h4{
  font-family: 'Luckiest Guy', cursive;
}
.navigation {
  list-style: none;
  margin: 0;
  background: $blue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: $white;
}

.navigation a:hover {
  background: $white;
  color: $blue;
}
.navigation li:first-child a:hover{
  color: $white;
  background: $blue;
}
.navbar-brand{
  flex-grow: 7;
  justify-content: flex-start;
  background-color: $blue;
}
.dropdown-item{
  background-color: $blue;
  color: $white;
}
// main
main{
box-sizing: border-box;
}
.card-title{
  color: $orange;
}

.action{
  color: $white;
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  background-color: $green;
}
.card-title{
  text-align: center;
}
.card-body{
  text-align: justify;
}
.action .btn{
font-family: 'Luckiest Guy', cursive;
  width: 10%;
  font-size: 24px;
}
#promo{
  background-color: $blue;
  display: flex;
  color: $white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#promo btn-secondary:nth-child(1){
  background-color: $green;
  color: $white;
}
.btn a{
  text-decoration: none;
  color: inherit;
}
#promo btn-secondary:nth-child(2){
  background-color: $orange;
  color: $white;
}
//
footer{
  padding: 10px;
  background-color: $grey;
  color: $white;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
footer a{
  text-decoration: none;
  color: inherit;
}
footer a:hover{
  color: $green;
  text-decoration: underline;
  font-weight: bold;
}
.fa{
  padding: 2px;
  color:inherit;
}
.fa:hover{
  color:$orange;
  text-shadow: 2px 2px 2px $white;
  // background-color: $white;
}
.fa:nth-child(2n):hover{
  color: $green;
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .section p{
    flex-wrap: wrap;
  }
}
@media all and (max-width: 600px) {
.section p{
  flex-wrap: wrap;
}
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
